{% extends 'main/layout.html' %}

{% block title %}news - main{% endblock %}

{% block body %}
    {% for item in news %}
        <div class="card text-center" >
            <div class="card-header">
                {{ item.title }}
            </div>

            <div class="card-body">
                <h5 class="card-title">{{ item.anons }}</h5>
                <p class="card-text">{{ item.article }}</p>
                <a href="{% url 'news-detail' item.id %}" class="btn btn-warning">Читать детальнее</a>
            </div>

            <div class="card-footer text-body-secondary">
                {{ item.date }}
            </div>

        </div>
    {% endfor %}

{% endblock %}